.button{
    background-color: burlywood;
    border: none;
    color: white;
    padding:15px 32px ;
    text-align: center;
    display: inline-block;
    margin: 4PX 2PX;
    cursor:pointer ;
    /*transition: width 2s;*/
    width: 150px;
   /* transform: rotate(10deg);
    transition: transform 20s;*/
    transform: translate(50px, 100px);
    animation-name: animatedcolor;
    animation-duration: 10s;
 
}

.button:hover{
   width: 300px;
   /*transform: rotate(20deg);*/
   transition: rotate(360deg);
}

.button-1{
    font-size: 10px;
}
.button-2{
    font-size: 20px;
}
.button-3{
    font-size: 30px;
}
.button-4{
    font-size: 40px;
}
.button-5{
    font-size: 50px;
}

@media screen and (max-width:700px){
    .button{
        background-color: blueviolet;
    }

}

@media screen and (min-width:100px){
    .button{
        background-color: tomato;
    }

}

@media only screen and (orientation:landscape){
    body{
        background-color: rgb(34, 136, 143);
    }

}

@keyframes animatedcolor{
    from{
        background-color: aquamarine;
    }
    to{
        background-color: blueviolet;
    }
}