/*#divflex {
    display: flex;
    width: 52%;
    height: 80%;
    background-color: yellow;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.Justify-content-star {
    justify-content: flex-start;
}

.Justify-content-center {
    justify-content: center;
}

.Justify-content-end {
    justify-content: flex-end;
}

.align-items-Top {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-bottom {
    align-items: flex-end;
}

.flex-direction-column{
    flex-direction: column;

}


#primero {
    width: 600px;
    background-color: aquamarine;
    height: 400px;
}

#segundo {
    width: 100px;
    background-color: red;
    height: 100px;

}

#tercero {
    width: 100px;
    background-color: orangered;
    height: 100px;
  
}*/

.flex-container {
    display: flex;
    background-color: yellow;
    width: 52%;
    height: 80%;
    
}
.flex-item1 {
    background-color: skyblue;
    width: 720px;
    height: 300px;
}

.flex-item2 {
    background-color: red;
    width: 100px;
    height: 100px;
     
}
.flex-item3 {
    background-color: orange;
    width: 100px;
    height: 100px;
  
}
.flex-item4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
   
}