body {
    background-color: rgba(45, 78, 89, 0.6);
    /* background-image: url('../Images/gotic.png');
    background-repeat: no-repeat;
    background-position: center top;*/
    /* background: url('../Images/gotic.png')no-repeat center top;*/
}

div {
    width: 100px;
    height: 100px;
    /*background-color: #ffffff;*/
    /* background-color: hsl(0, 50%, 50%);*/
    background-color: hsl(8, 6%, 65%);
    /*border-style: solid;
   border-style: dotted;*/
    /* border-style: double;
   border-width: 5px;
   border-color: plum;*/
    border: 5px solid plum;
    border-radius: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    /*margin: 58px,300px,50px,100px;*/
    padding-top: 10px;
}

p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /*letter-spacing: 20px;  */
    /*font-family:'Press Start 2P' ;
    font-family: 'Nosifer';*/
    font-family: 'Freckle Face';
}

h4 {
    text-align: center;
    text-decoration: underline;
    /*text-decoration: line-through;*/
    /* text-indent: 50px; sangria*/
    color: brown;
    font-family: 'Sacramento';
}

ul .a {
    list-style-type: upper-roman;
    list-style-position: inside;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid red;
}

tr:hover {
    color: white;
    background-color: black
}

tr:nth-child(even) {
    background-color: tomato;
}

tr:nth-child(odd) {
    background-color: plum;
}

#divflex {
    display: flex;
    width: 90%;
    height: 100%;
    background-color: gray;
    /*flex-direction: row-reverse;*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#primero {
    width: 500px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.Justify-content-star {
    justify-content: flex-start;
}

.Justify-content-center {
    justify-content: center;
}

.Justify-content-end {
    justify-content: flex-end;
}

.align-items-Top {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}


.align-items-bottom {
    align-items: flex-end;
}